/* fontes */

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

/* Estilo */

body{
    font-family: "JetBrains Mono", monospace;
    font-size: 12px;
    
    /* Necessário para o flex 1 funcionar e ocupar o restante da tela */
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

/* Cabeçalho Index*/


.headerIndex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #202020;
    gap: 30px;
}

.titulo h1{
    margin-top: 30px;
    text-align: center;
    font-size: 3em;
    color: white;
}

.separador{
    height: 1px;
    width: 50%;
    background-color: white;
}

/* Menu redes sociais */

.navIndex{
    width: 100%;
}

.links{
    display: flex;
    justify-content: space-evenly;
}

.links img{
    width: 75px;
}

.links p:hover{
    color: blueviolet;
}

.links p{
    padding: 20px 0;
    font-size: 1.4em;
    color: white;
    text-align: center;
}

/* Exercícios */

.mainIndex{
    flex: 1;
    background-image: url(../img/background/jotaroPurple.png);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 27%;
}

.exercicios{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.exercicios a{
    padding: 10px 30px;
    background-color: #202020;
    color: white;
    border-radius: 15px 5px;
    text-align: center;
    border: 1px solid white;
    box-shadow: 1px 5px 10px black;
}

.exercicios a:hover{
    background-color: white;
    color: #202020;
    border: 1px solid black;
}

/* Rodapé Index */

.footerIndex{
    height: 100px;
    background-color: #202020;
}

/* CSS Geral para as páginas de exercícios */

.faixaSuperiorPequena{
    background-color: #202020;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.faixaSuperiorPequena img{
    width: 60px;
}

.faixaSuperiorPequena a{
    margin: 30px;
}

.mainExercicios{
    flex: 1;
    background-image: url(../img/background/jotaroPurple.png);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainExercicios div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #202020;
    border: 1px solid white;
    box-shadow: 1px 5px 10px black;
    border-radius: 15px 5px;
}

.mainExercicios label{
    color: white;
    font-size: 1.5em;
    font-weight: 600;
    margin: 20px 20px 0 20px;
}

.mainExercicios input{
    width: 50%;
    border-radius: 20px;
    height: 40px;
    font-size: 1.5em;
    text-align: center;
    margin-top: 30px;
}

.mainExercicios button{
    padding: 15px 30px;
    border-radius: 15px 5px;
    background-color: #202020;
    border: 1px solid white;
    box-shadow: 1px 2px 5px white;
    color: white;
    margin: 30px 0 10px 0;
}

.mainExercicios button:hover{
    background-color: white;
    border: 1px solid #202020;
    box-shadow: 1px 1px 2px #202020;
    color: #202020;
}

.mainExercicios p{
    color: white;
    font-size: 1.2em;
    margin: 20px 0;
}

.footerExercicios{
    height: 1px;
    background-color: #202020;
}